ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

@media screen and (max-width:600px) {

    .follow {
        display: none;
    }



}

@media (min-width: 576px) {



    .follow {
        display: none;
    }

}